@import url('https://fonts.googleapis.com/css?family=Domine|Permanent+Marker');

$font-titles: 'Permanent Marker', cursive;
$font-main: 'Domine', serif;

$color-blue-lighter: #6681bf;
$color-blue-light: #435e9c;
$color-blue: #2b4685;
$color-blue-dark: #182e62;
$color-blue-darker: #071536;

$color-white: #fff;
$color-gray-light: #eee;

$gutter: 20px;
